/* Estilos generales */
body {
    font-family:Arial, sans-serif;
    background-color: #fff8f3;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Encabezado */
header {
    background-color: #a2d39c;
    text-align: center;
    padding: 20px;
    color: #2d4739;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

h2 {
    color: #4c2b85;
    border-bottom: 2px solid #e1bee7;
    padding-bottom: 5px;
}

/* Secciones */
main {
    padding: 20px;
    max-width: 900px;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
}

ul, ol {
    margin-left: 30px;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

/* Tablas */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

th, td {
    padding: 10px;
    text-align: center;
}

.tabla-nutricional {
    background-color: #ffe4b5;
    border: 2px solid #d7a86e;
}

.tabla-plan {
    background-color: #e6d7f5;
    border: 2px solid #9e81c2;
}

th {
    background-color: #c8a2c8;
    color: white;
}

tr:nth-child(even) {
    background-color: #fdf3f3;
}

/* Footer */
footer {
    background-color: #4c2b85;
    color: #fff;
    text-align: center;
    padding: 15px;
    font-size: 0.9em;
}
